@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

#arjsDebugUIContainer{
  visibility: hidden !important;
}

button.a-enter-vr-button{
  visibility: hidden !important;
}

.Header{
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: white;
}

.select {
    position: fixed;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    color: white;

}

.instagram {
    position: absolute;
    top: 5px;
    right: 10px;
}

.shopping {
    position: absolute;
    top: 5px;
    left: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
