#arjsDebugUIContainer{
  visibility: hidden !important;
}

button.a-enter-vr-button{
  visibility: hidden !important;
}

.Header{
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
