#arjsDebugUIContainer{
  visibility: hidden !important;
}

button.a-enter-vr-button{
  visibility: hidden !important;
}

img {

  border-radius: 10px;

}

.Header{
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: white;
}

.instagram {
    position: absolute;
    top: 5px;
    right: 10px;
}

.select {
    z-index: 1;
    position:absolute;
    bottom: 5px;
    left: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}

.shopping {
    position: absolute;
    top: 5px;
    left: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
